<button id="edit" class="btn btn-info">edit</button>
<button id="save" class="btn btn-success">save</button>

<h1 property="name">{{name}}</h1>
<p property="description">{{description}}</p>

<div class="row">
  <div id="left" class="col-md-6"></div>
  <div id="right" class="col-md-6"></div>
<div>
