<h1>{{name}}</h1>
<p>{{description}}</p>

<div class="row">
  <div id="left" class="col-md-4"></div>
  <div id="process" class="col-md-4">{{process}}</div>
  <div id="right" class="col-md-4"></div>
<div>
